---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="text-muted"><time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time></span>
    {{ post.excerpt }}
    <p>&hellip;</p>
    <a href="{{ post.url }}">read more of {{ post.title }} &rarr;</a>
  </article>
  <hr/>
  {% endfor %}
</div>

<div class="center-block">
  {% if paginator.next_page %}
  <a class="btn btn-default" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
  {% else %}
  <button class="btn btn-default" disabled="disabled">Older</button>
  {% endif %}

  {% if paginator.previous_page %}
  <a class="btn btn-default" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
  {% else %}
  <button class="btn btn-default" disabled="disabled">Newer</button>
  {% endif %}
</div>
