<!doctype html>
<html lang="en">

{% include head.html %}

<body>

  <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
      <a class="navbar-brand" href="/" title="Home">
        <span><img src="//s.gravatar.com/avatar/adbba981e6089490de752afe2f25d159?s=25" class="rounded"></span> {{ site.title }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% for page in site.pages_list %}
              <li class="nav-item"><a href="{{ page[1]  }}" class="nav-link">{{ page[0] }}</a></li>
            {% endfor %}
          </ul>
      </div>
  </nav>

  <div class="container-fluid">
      <div class="row">
          <div class="mx-sm-auto col-md-8 mx-sm-auto">{{ content }}</div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div>{% include google_adsense.html %}</div>
          </div>
      </div>
      <div class="row">
          <div class="mx-sm-auto col-md-8 mx-auto mx-sm-auto">
              <hr>
              <footer>
                <small>
                  &#xA9; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%Y" }}</time>. All rights reserved.
                </small>
              </footer>
          </div>
      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  {% include google_analytics.html %}
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5694e3d6d315da1a" async="async"></script>
  <script id="dsq-count-scr" src="//ewanharrow.disqus.com/count.js" async></script>
</body>
</html>
