<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <nav class="navbar navbar-dark bg-dark navbar-expand-sm">
      <a class="navbar-brand" href="/" title="Home">
        <span><img src="//s.gravatar.com/avatar/adbba981e6089490de752afe2f25d159?s=25" class="rounded"></span> {{ site.title }}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            {% for page in site.pages_list %}
              <li class="nav-item"><a href="{{ page[1]  }}" class="nav-link">{{ page[0] }}</a></li>
            {% endfor %}
          </ul>
      </div>
  </nav>

  <div class="container-fluid">
      <div class="row">
          <div class="mx-sm-auto col-md-8 mx-sm-auto">{{ content }}</div>
      </div>
      <div class="row">
          <div class="col-md-12">
              <div>{% include google_adsense.html %}</div>
          </div>
      </div>
      <div class="row">
          <div class="mx-sm-auto col-md-8 mx-auto mx-sm-auto">
              <hr>
              <footer>
                <small>
                  &#xA9; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: "%Y" }}</time>. All rights reserved.
                </small>
              </footer>
          </div>
      </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% include google_analytics.html %}
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5694e3d6d315da1a" async="async"></script>
</body>
</html>
